* {
    font-family: 'Lobster', cursive;
}
.about {
    display: flex;
    align-items: center;
    margin-bottom: 95px;
}
.photo {
    background-image: url('images1/pho.jpg');
    background-size: cover;
    width: 128px;
    height: 128px;
    border-radius: 40px;
    margin-right: 18px;
}
.brief {
    flex: 1;
    max-width: 520px;
}

.brief h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: rgb(27, 27, 17);
}
body {
    margin-top: 100px;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1609150085819-06036683770e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
}
/*
header h1{
    font-size: 3.750em;
    text-shadow: 0.313em 0.313em 0.313em rgb(236, 167, 167);
    color: rgb(185, 247, 234);
    position: relative;
    text-align: center;
    transition: transform 0.5s;

 }
    header h1:hover{
     transform: scale(1.2);
      }
*/     
.wrapper {
    padding: 0 195px;
    
}
.menubar{

    /*background: rgb(0, 255, 204);*/
    width: 70%;
        }
.menubar >ul>li{
    position: relative;
}        

.menubar ul{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    text-decoration: none;  
    list-style:none;  
}
.menubar ul li{
    margin: 0.25%;
    padding: 0.5% ;
    background:lightblue;
    flex-grow: 1; 
    text-align:center;
    position: relative;
    cursor: pointer;
    border-radius: 1.250em;
 }
.menubar ul li:hover{
    background: lightblue;
    border-radius: 1.250em;
}
.menubar ul li:hover ul  {
    opacity: 1;
    visibility: visible;
    border-radius: 1.250em;
}
.submenu{
    transition:opacity .3s linear;
    position:absolute;
    width :100%;
    opacity: 0;
    visibility: hidden;
    background:lightblue;
    padding: 1%;
    text-align: center;
    top:100%;
    left:0;
    border-radius: 1.250em;
}



a{
    color:black
}
a:hover{
    color: red;
}
.hamburger{
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;

}
.hamburger:before{
    content:"";
    position:absolute;
    top:0.3em;
    left:0px;
    width: 100%;
    border-top: 0.2em solid #fff;

}                      



/*contact page*/
.vanila{

    background: linear-gradient( to right, rgb(247, 235, 235), rgb(159, 159, 240), rgb(241, 215, 167), rgb(162, 226, 162) );
    text-align: center;
    margin: 10%;
  }
  
  .container{
    text-align: center;
    padding:1%;
    font-size: 1.250em;
  
    background-color: rgb(145, 230, 241);
    border-radius: 0.375em;
    margin-left: 10%;
    margin-right: 10%;
    opacity:0.5;
  }
  .container Input,textarea{
  
    font-size: 1.275em;
    margin-bottom: 1.250em;
  text-align: center;
  
  }
  
  
  @media (max-width:75em){
  
.container  input,textarea,label{
      width: 100%;
      font-size: 1.250em;
      flex-direction: column;
    }
.container {
    font-size: 1.263em;
}}